// FONT SIZE
$fontSize: 2em;

// COLORS
$accent: #E64C66;
$light: #1BBC9B;
$dark: #2D3E50;
$text: #333333;
$background: lighten($text, 75%);

@mixin font-base {
  color: $text;
  font: {
    family: 'Open Sans', Arial, sans-serif;
    size: $fontSize;
    weight: 400;
  }
}
