/* line 3, ../sass/exercises.scss */
body {
  color: #333333;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 2em;
  font-weight: 400;
  background-color: #f2f2f2;
  background-image: linear-gradient(to bottom, #83edd7, #8ba4be, #f3a5b3);
}

/* line 15, ../sass/exercises.scss */
#container {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 0.5em;
}
/* line 19, ../sass/exercises.scss */
#container p {
  line-height: 1.4em;
  text-align: justify;
}

/* line 25, ../sass/exercises.scss */
a {
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  transition: all 1.5s ease;
  text-decoration: none;
  font-weight: 700;
  color: #1bbc9b;
}
/* line 30, ../sass/exercises.scss */
a:hover {
  color: #2d3e50;
}

/* line 35, ../sass/exercises.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  padding-bottom: 20px;
}

/* line 40, ../sass/exercises.scss */
h1 {
  color: #e64c66;
  font-size: 2.6em;
}

/* line 45, ../sass/exercises.scss */
h2 {
  color: #2d3e50;
  font-size: 2.4em;
}

/* line 50, ../sass/exercises.scss */
h3 {
  color: #1bbc9b;
  font-size: 2.2em;
}

/* line 55, ../sass/exercises.scss */
header {
  padding-top: 100px;
}
/* line 57, ../sass/exercises.scss */
header h1 {
  font-size: 5em;
  text-align: center;
}
/* line 61, ../sass/exercises.scss */
header nav {
  margin: 30px 0px;
  text-align: center;
}
/* line 64, ../sass/exercises.scss */
header nav ul {
  display: inline;
}
/* line 66, ../sass/exercises.scss */
header nav ul li {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: inline;
  margin: 15px;
  font-size: 1.2em;
}
/* line 71, ../sass/exercises.scss */
header nav ul li a {
  padding: 5px 50px;
  background-color: #2d3e50;
  border-radius: 20px;
  color: #1bbc9b;
}
/* line 76, ../sass/exercises.scss */
header nav ul li a:hover {
  background-color: #8ba4be;
  color: #e64c66;
}

/* line 86, ../sass/exercises.scss */
.content-box {
  float: left;
  height: 550px;
  margin: 1%;
  padding: 1%;
  width: 29%;
  border-radius: 50px;
  background-color: #acbdd0;
}
/* line 94, ../sass/exercises.scss */
.content-box img {
  border-radius: 50px;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
}
/* line 100, ../sass/exercises.scss */
.content-box h2 {
  font-size: 1.6em;
  text-align: center;
}
/* line 104, ../sass/exercises.scss */
.content-box:nth-child(3n) {
  background-color: #f9d2d9;
}
/* line 106, ../sass/exercises.scss */
.content-box:nth-child(3n) h2 {
  color: #e64c66;
}
/* line 110, ../sass/exercises.scss */
.content-box:nth-child(3n+2) {
  background-color: #aff4e6;
}
/* line 112, ../sass/exercises.scss */
.content-box:nth-child(3n+2) h2 {
  color: #1bbc9b;
}

/* line 118, ../sass/exercises.scss */
.content-box:nth-child(3n+1) {
  clear: both;
}

/* line 122, ../sass/exercises.scss */
.center {
  text-align: center;
}
