@import "var";
@import "base";

ul {
  padding: 10px;
  margin: 5px 20px;
}

li {
  list-style: circle;
  padding: 5px;
}

h4 {
  color: $dark;
  font-size: $fontSize * 0.8;
  margin-bottom: 0px;
  padding-bottom: 0px;
}